---
layout: base.njk
css:
  - maplibre-gl.css
  - map-and-info.css
js:
  - maplibre-gl-dev.js
  - pmtiles.js
---
<!-- Map initialization  -->
<script>
      /* Basemap style provided by Maptiler */
      const MAP_STYLE = './assets/style.json';
      /* ES instance with geodata and anonymous access enabled */
      const ES_HOST = 'https://jorge-sanz.es.eastus2.azure.elastic-cloud.com';
      /* ES API Key to access our data */
      const ES_APIKEY="{{ env.ELASTIC_APIKEY }}";

      /* initialize pmtiles support */
      let protocol = new pmtiles.Protocol();
      maplibregl.addProtocol("pmtiles",protocol.tile);
</script>

<!-- Map Code -->
{{ content | safe }}
